table {
    border: 1px solid;
}

td {
    text-align: center;
    padding: 4px 4px;
}

#sopa {
    margin-top: 1em;
    width: 30em;
}

#llistaBlock {
    /*border: 1px solid;*/
}

.selected {
     background-color: #99cc00;
}

.adivinada {
    background-color: #37abd2;
    color: #FFFFFF;
}